body, html {
    margin : 0;
    padding: 0;
    text-align: center;
}

body{
    background-color: whitesmoke;
}

.loan-dependent {
    display: none;
}

.header, h1{
    background-color: grey;
    margin-top: 0;
    text-align: left;
    margin-bottom: 5%;
}


.main {
    padding-left: 10%;
    padding-right: 10%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.computer-store-container{
    display: grid;
    background-color:ghostwhite;
    font-size: large;
}

.computer-info{
    text-align: left;
    padding-left: 5%;
    }


.bank-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 4fr 1fr;
    grid-column-gap: 2px;
    background-color: lightgray;
    height: 30%;
    width: 70%;
    margin-left: 10%;
    
}

.computer-selection{
    height: 15%;
    background-color: aqua;
}

.work-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 4fr 1fr;
    grid-column-gap: 2px;
    grid-row-gap: 0px;
    background-color: lightgrey;
    height: 30%;
    width: 70%;
    margin-left: 10%;
        }

.pay-container{ 
    grid-area: 1 / 2 / 2 / 3;
    padding-top: 20%;
}
.work-button{
    grid-area: 2 / 1 / 3 / 2;
 }
.bank-button { 
    grid-area: 2 / 2 / 3 / 3; 
   
}
.pay-loan-button {
     grid-area: 2 / 3 / 3 / 4;
     }

.bank-box{
    padding: 10px;
    margin: 10px;
    background-color:ghostwhite ;
    font-size:x-large;
    box-shadow: 1px 1px 1px 0px;

}

.loan-button{
     grid-area: 2 / 1 / 3 / 3; 
    
}

img {
    height: 15rem;
    width: 25rem;
    margin: 5%;
}

.pay-amount{
    font-size: xx-large;
}

.purchase-button{
    font-size: large;
}

.purchase-contianer{
    text-align: left;
    font-size: x-large;    
    padding-left: 7%;
    padding-bottom: 3%;

}